.foodLevel {
  display: none;
}

body  {
  background-image: url(https://i.imgur.com/8apjvu8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  font-weight: bold;
}

label, p {
  color: ;
}

h1 {
  text-align: center;
}

#eaten {
  display: none;
}
